.marquee-container {
  position: relative;
  height: auto;
}

.marquee-content {
  display: flex;
  width: fit-content;
}

.scroll-left {
  animation: scroll-left 70s linear infinite;
}

.scroll-right {
  animation: scroll-right 70s linear infinite;
}


.marquee-text {
  font-size: 5rem;
  font-weight: 900;
  white-space: nowrap;
  line-height: 1;
  margin-right: 4rem;
}

@media (min-width: 768px) {
  .marquee-text {
    font-size: 8rem;
  }
}

@media (min-width: 1024px) {
  .marquee-text {
    font-size: 12rem;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
