body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  background-color: black;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.151) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.151) 1px, transparent 1px);
  background-size: 104px 104px;
  min-height: 100vh;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}
